body * {
    border: 1px solid black;
    margin-top: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.screen-log {
    color: black;
    background-color: beige;
    margin: 32px;
    padding: 16px;
    min-width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}